{
  "Update-AzAcatReport+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/powershell-test-report?api-version=2023-02-15-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/reports/powershell-test-report?api-version=2023-02-15-preview",
      "Content": null,
      "Headers": {
        "x-ms-aad-user-token": [ "[Filtered]" ],
        "x-ms-unique-id": [ "16" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-reads": [ "11988" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "6afa47d2-ba36-4d5d-83cf-7ed9a93cd605" ],
        "X-ms-Operation-Id": [ "7a7bb9c905edeb0ffdc2c9024625abde" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.AppComplianceAutomation/reports/powershell-test-report\",\"name\":\"powershell-test-report\",\"type\":\"Microsoft.AppComplianceAutomation/reports\",\"systemData\":{\"createdBy\":\"\",\"createdByType\":\"User\",\"createdAt\":\"2023-03-06T06:54:54.8100203Z\",\"lastModifiedBy\":\"\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2023-03-06T06:54:54.8100203Z\"},\"properties\":{\"id\":\"f3e0f9e0-72b4-4013-a481-874e2c0f261a\",\"status\":\"Active\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"reportName\":\"powershell-test-report\",\"offerGuid\":\"\",\"timeZone\":\"China Standard Time\",\"triggerTime\":\"2023-03-06T07:00:00Z\",\"nextTriggerTime\":\"2023-03-07T07:00:00Z\",\"lastTriggerTime\":\"2023-03-06T07:09:06.963Z\",\"subscriptions\":[\"f744fbde-a95f-437e-8fcf-38f9324e3d9c\"],\"resources\":[{\"resourceId\":\"/subscriptions/f744fbde-a95f-437e-8fcf-38f9324e3d9c/resourceGroups/github-action-deploy/providers/Microsoft.Storage/storageAccounts/storexahdnmg5xqlduarm\",\"resourceType\":\"microsoft.storage/storageaccounts\",\"resourceKind\":\"StorageV2\",\"resourceOrigin\":null,\"tags\":{}},{\"resourceId\":\"/subscriptions/f744fbde-a95f-437e-8fcf-38f9324e3d9c/resourceGroups/github-action-deploy/providers/Microsoft.Storage/storageAccounts/storexahdnmg5xqldubicep\",\"resourceType\":\"microsoft.storage/storageaccounts\",\"resourceKind\":\"StorageV2\",\"resourceOrigin\":null,\"tags\":{}}],\"complianceStatus\":{\"m365\":{\"passedCount\":22,\"failedCount\":15,\"manualCount\":56}},\"provisioningState\":\"Succeeded\"}}"
    }
  },
  "Update-AzAcatReport+[NoContext]+UpdateExpanded+$POST+https://management.azure.com/providers/Microsoft.AppComplianceAutomation/onboard?api-version=2023-02-15-preview+2": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/onboard?api-version=2023-02-15-preview",
      "Content": "{\r\n  \"subscriptionIds\": [ \"f744fbde-a95f-437e-8fcf-38f9324e3d9c\" ]\r\n}",
      "Headers": {
        "x-ms-aad-user-token": [ "[Filtered]" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/f443fcf9-4868-4072-8dc0-41dc5e826936*0695451AAD461519B883EC5EB132DB4348D55DEDE2D9C17F3709E26D9E21EDB9?api-version=2023-02-15-preview" ],
        "x-ms-ratelimit-remaining-tenant-writes": [ "1197" ],
        "x-ms-providerhub-traffic": [ "True" ],
        "mise-correlation-id": [ "5e40726f-cdc6-4ed4-bb95-79aea85f0b7d" ],
        "X-ms-Operation-Id": [ "0e23efd2a4a6d33a86943aabfa15f3e5" ],
        "Azure-AsyncOperation": [ "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/f443fcf9-4868-4072-8dc0-41dc5e826936*0695451AAD461519B883EC5EB132DB4348D55DEDE2D9C17F3709E26D9E21EDB9?api-version=2023-02-15-preview" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"subscriptionIds\":[\"f744fbde-a95f-437e-8fcf-38f9324e3d9c\"]}"
    }
  },
  "Update-AzAcatReport+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/f443fcf9-4868-4072-8dc0-41dc5e826936*0695451AAD461519B883EC5EB132DB4348D55DEDE2D9C17F3709E26D9E21EDB9?api-version=2023-02-15-preview+3": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/f443fcf9-4868-4072-8dc0-41dc5e826936*0695451AAD461519B883EC5EB132DB4348D55DEDE2D9C17F3709E26D9E21EDB9?api-version=2023-02-15-preview",
      "Content": null,
      "Headers": {
        "x-ms-aad-user-token": [ "[Filtered]" ],
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "18" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "ETag": [ "\"2a08aa32-0000-4d00-0000-6406cd570000\"" ],
        "x-ms-ratelimit-remaining-tenant-reads": [ "11987" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/f443fcf9-4868-4072-8dc0-41dc5e826936*0695451AAD461519B883EC5EB132DB4348D55DEDE2D9C17F3709E26D9E21EDB9\",\"name\":\"f443fcf9-4868-4072-8dc0-41dc5e826936*0695451AAD461519B883EC5EB132DB4348D55DEDE2D9C17F3709E26D9E21EDB9\",\"resourceId\":\"/providers/\",\"status\":\"Succeeded\",\"startTime\":\"2023-03-07T05:36:21.1430725Z\",\"endTime\":\"2023-03-07T05:36:23.3276806Z\",\"error\":{},\"properties\":null}"
    }
  },
  "Update-AzAcatReport+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operationStatuses/f443fcf9-4868-4072-8dc0-41dc5e826936*0695451AAD461519B883EC5EB132DB4348D55DEDE2D9C17F3709E26D9E21EDB9?api-version=2023-02-15-preview+4": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/providers/Microsoft.AppComplianceAutomation/locations/WESTUS3/operation[...]
